apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  labels:
    app: nginx-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginx-deployment
  strategy: {}
  template:
    metadata:
      labels:
        app: nginx-deployment
    spec:
      containers:
        - name: nginx 
          image: nginx
          resources:
            limits:
              cpu: 0.5
              memory: 250Mi
            requests:
              cpu: 0.25
              memory: 120Mi
           
